//- footer section
.footer 
    .footer__logo 
        img(src='/public/img/logo-green.png', alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps 
        li: a(href='#') Become a guide 
        li: a(href='#') Careers
        li: a(href='#') Contacts
    p.footer__copyright &copy; by Caleb Adewole . All rights reserved.
