
mixin navigation_bar_item(title,icon,link,active)
    li(class=`${active?'side-nav--active':''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#${icon}`)
            | #{title}  


nav.user-view__menu
    ul.side-nav
        - let data = [{'link':'#','icon':'icon-settings','title':'Settings','active':true},{'link':'/my-tours','icon':'icon-briefcase','title':'My bookings','active':false},{'link':'#','icon':'icon-star','title':'My reviews','active':false},{'link':'#','icon':'icon-credit-card','title':'Billing','active':false}]
        each dt in data 
            +navigation_bar_item(dt.title,dt.icon,dt.link,dt.active)
    - const isAdmin = user.role == "Admin";
    if isAdmin
        .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
                -let data = [{'link':'/manage-tours','icon':'icon-map','title':'Manage tours','active':false},{'link':'#','icon':'icon-users','title':'Manage users','active':false},{'link':'#','icon':'icon-star','title':'Manage reviews','active':false},{'link':'#','icon':'icon-briefcase','title':'','active':false}]
                each dt in data 
                    +navigation_bar_item(dt.title,dt.icon,dt.link,dt.active)