extends  base

block content 
    main.main
        .user-view
            include _menu

            .user-view__content
                h2.heading-secondary.ma-bt-md Avaliable Tours
                