extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg  Password Update 
            -const action_url = token ? `/api/v1/users/resetPassword/${token}` : `/api/v1/users/resetPasswordWithOTP`;
            form.form#reset-form(method='POST' action=`${action_url}`)
                if action_url == `/api/v1/users/resetPasswordWithOTP`
                    .form__group
                        label.form__label(for='otp') OTP
                        input#password.form__input(type='password', placeholder='*******',name='otp',autocomplete="password" ,required, minlength='6rs')
                .form__group
                    label.form__label(for='password') New password
                    input#password.form__input(type='password', placeholder='••••••••',name='password',autocomplete="password" ,required, minlength='8')
                .form__group.ma-bt-lg
                    label.form__label(for='password-confirm') Confirm password
                    input#password-confirm.form__input(type='password', placeholder='••••••••', name='passwordConfirm',required,autocomplete="password", minlength='8')
                .form__group
                    button.btn.btn--green Submit